<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SearchMapper">

	<select id="select_sku_by_class_2" parameterType="int" resultMap="select_sku_by_class_2_map">
		select sku.*,spu.*,tm.*,sku.id as sku_id,spu.id as
		spu_id,tm.id as tm_id from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_trade_mark tm,
		t_mall_tm_class tm_class,
		t_mall_class_1 class1
		where
		sku.shp_id = spu.Id
		and
		spu.flbh1 = class1.Id
		and
		class1.Id =
		tm_class.flbh1
		AND
		tm.Id = tm_class.pp_id
		AND
		spu.pp_id =
		tm.Id
		AND
		spu.flbh2 = #{class_2_id}
		${order}
	</select>
	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU" id="select_sku_by_class_2_map" autoMapping="true">
		<result property="id" column="sku_id"/>
		<result property="shp_id" column="shp_id"/>
		<association property="tm" autoMapping="true" javaType="com.atguigu.bean.T_MALL_TRADE_MARK">
			<result column="tm_id" property="id"/>
		</association>
		<association property="spu" autoMapping="true" javaType="com.atguigu.bean.T_MALL_PRODUCT">
			<result column="spu_id" property="id"/>
		</association>
	</resultMap>
	
	<select id="select_value_by_attr_id" parameterType="int"
		resultType="com.atguigu.bean.T_MALL_VALUE">
		select * from T_MALL_VALUE where shxm_id = #{attr_id}
	</select>


	<select id="select_sku_by_class_2_attr_value" parameterType="Map"
		resultMap="select_sku_by_class_2_attr_value_map">
		select sku.*,spu.*,tm.*,sku.id as sku_id,spu.id as
		spu_id,tm.id as tm_id from
		t_mall_sku sku,
		t_mall_sku_attr_value
		attr_value,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_product spu,
		t_mall_trade_mark tm
		where
		sku.Id = attr_value.sku_id
		and
		attr_value.shxm_id = attr.Id
		and
		attr_value.shxzh_id = val.Id
		AND
		sku.shp_id = spu.Id
		and
		spu.pp_id = tm.Id
		and
		spu.flbh2 = #{class_2_id}
		${sql}
		${order}
	</select>

	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU" id="select_sku_by_class_2_attr_value_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<result column="spu_id" property="shp_id" />
		<association property="spu"
			javaType="com.atguigu.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association property="tm"
			javaType="com.atguigu.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
	</resultMap>
	
</mapper>

